#backToTop
  display: none
  position: fixed
  bottom: 20px
  right: 30px
  z-index: 99

// Search page
.logo // logo center horizontaly
  margin: auto
#search-info a:hover // fix color on dark
  color: white
.card-equal-height // fix
  display: flex
  flex-direction: column
  height: 100%
.card-equal-height .card-footer
  margin-top: auto

// active tab color fix
li.is-active
  color: #33363b
